build-QtAppMacDeploy-Desktop_Qt_5_3_0_clang_64bit-Release
QtAppMacDeploy/.DS_Store
.DS_Store
build-QtAppMacDeploy-Desktop_Qt_5_4_clang_64bit-Release
/QtAppMacDeploy/QtAppMacDeploy.pro.user.3a9a05c.3.3-pre1
/build-QtAppMacDeploy-Desktop_Qt_5_10_0_clang_64bit2-Release
/build-QtAppMacDeploy-Desktop_Qt_5_10_0_clang_64bit2-Production
